{% extends "/templates/dashboard.html" %}

{% block head_include %}
    <link rel="stylesheet" href="/assets/vessel/css/form.css" />
    <script src="/assets/vessel/js/form.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-area">
    <div class="page-title d-flex">
        <h4>New Company</h4>
        <button class="btn save-btn">Save</button>
    </div>

    <form class="form-section">
        <div class="form-area">
                        <div class="form-row">
                            <div class="col-md-6 col-xl-4 mb-4">
                              <label for="company">Company</label>
                              <input type="text" class="form-control" id="company" placeholder="Enter Company name" required>
                            </div>
                            <div class="col-md-6 col-xl-4 mb-4">
                              <label for="country">Country</label>
                              <input type="text" class="form-control" id="country" placeholder="Enter Country Name" required>
                            </div>

                    </div>

        </form>

</div>
{% endblock %}