{% extends "/templates/dashboard.html" %}

{% block head_include %}
    <link rel="stylesheet" href="/assets/vessel/css/form.css" />
    <script src="/assets/vessel/js/form.js"></script>
    <script src="/assets/vessel/js/updatecustomer.js"></script>
    
{% endblock %}

{% block page_content %}
<div class="page-area">
    <div class="page-title d-flex   ">
        <h4 id="page_title"></h4>
        <div class="action-btn-group d-flex align-items-center">
            <div class="dropdown mr-3">
              <button class="btn btn-form-action" type="button" id="action-button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
      
                <svg width="14" height="3" viewBox="0 0 14 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.294 2.55682C11.9437 2.55682 11.643 2.43134 11.392 2.1804C11.1411 1.92945 11.0156 1.62879 11.0156 1.27841C11.0156 0.928031 11.1411 0.627368 11.392 0.376421C11.643 0.125474 11.9437 0 12.294 0C12.6444 0 12.9451 0.125474 13.196 0.376421C13.447 0.627368 13.5724 0.928031 13.5724 1.27841C13.5724 1.51042 13.5133 1.72349 13.3949 1.91761C13.2812 2.11174 13.1274 2.26799 12.9332 2.38636C12.7438 2.5 12.5308 2.55682 12.294 2.55682Z"
                    fill="#4D5461"></path>
                  <path
                    d="M6.78622 2.55682C6.43584 2.55682 6.13518 2.43134 5.88423 2.1804C5.63329 1.92945 5.50781 1.62879 5.50781 1.27841C5.50781 0.928031 5.63329 0.627368 5.88423 0.376421C6.13518 0.125474 6.43584 0 6.78622 0C7.1366 0 7.43726 0.125474 7.68821 0.376421C7.93916 0.627368 8.06463 0.928031 8.06463 1.27841C8.06463 1.51042 8.00544 1.72349 7.88707 1.91761C7.77344 2.11174 7.61956 2.26799 7.42543 2.38636C7.23603 2.5 7.02296 2.55682 6.78622 2.55682Z"
                    fill="#4D5461"></path>
                  <path
                    d="M1.27841 2.55682C0.92803 2.55682 0.627367 2.43134 0.37642 2.1804C0.125474 1.92945 0 1.62879 0 1.27841C0 0.928031 0.125474 0.627368 0.37642 0.376421C0.627367 0.125474 0.92803 0 1.27841 0C1.62879 0 1.92945 0.125474 2.1804 0.376421C2.43134 0.627368 2.55682 0.928031 2.55682 1.27841C2.55682 1.51042 2.49763 1.72349 2.37926 1.91761C2.26562 2.11174 2.11174 2.26799 1.91761 2.38636C1.72822 2.5 1.51515 2.55682 1.27841 2.55682Z"
                    fill="#4D5461"></path>
                </svg>
              </button>
      
              <div class="dropdown-menu ropdown-menu-right" aria-labelledby="action-button">
                <a class="dropdown-item" id="new_user" href="/logistic/customer/new-customer">New Customer</a>
                <a class="dropdown-item" id="delete">Delete</a>
              </div>
            </div>
        <button class="btn save-btn" id="save">Save</button>
    </div>
    </div>

    <form class="form-section">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="details" data-toggle="tab" data-target="#customer-details" type="button" role="tab" aria-controls="customer-details" aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="accounts" data-toggle="tab" data-target="#customer-accounts" type="button" role="tab" aria-controls="customer-accounts" aria-selected="false">Accounts</button>
            </li>
          </ul>
          <div class="tab-content" id="form-tab">
            <div class="tab-pane fade show active" id="customer-details" role="tabpanel" aria-labelledby="customer-details">
              <div class="inner-form-section row">
                    <!-- sidebar image -->
                    <div class="col-sm-12 col-md-3 col-lg-2 justify-content-center d-flex align-content-start">
                      <div class="upload-profile-image">

                        <div class="edit-profile-image dropdown">
                          <img src="/assets/vessel/files/images/edit.png" alt="edit" data-toggle="dropdown">
                          <div class="dropdown-menu">
                            <div class="dropdown-item" for="upload-image">
                              <label for="upload-image">
                                Upload
                              </label> 
                               <input type='file' id="upload-image" accept=".png, .jpg, .jpeg" />
                            </div>
                            <div class="dropdown-item" id="remove_profile">Remove</div>
                            
                          </div>
                        </div>
          
                        <div class="profile-image-preview">
                          <div id="image-preview" style="background-image: url(/assets/vessel/files/images/default_user.jpg);" data-profile="true">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-10">
                        <div class="form-row">
                            <div class="col-md-6 col-xl-4 mb-4">
                              <label for="customer_name">Customer Name <span class="red">*</span></label>
                              <input type="text" class="form-control" id="customer_name" name="customer_name" >
                            </div>
                            <div class="col-md-6 col-xl-4 mb-4">
                                <label for="customer_type">Customer Type <span class="red">*</span></label>
                                <select class="custom-select form-select form-control selectpicker" id="customer_type" name="customer_type" >
                                    <option selected></option>
                                    <option value="Company">Company</option>
                                    <option value="Individual">Individual</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-4 mb-4">
                                <label for="country">Country</label>
                                <select class="form-select form-control" id="country" name="custom_country" >
                                    <option selected></option>
                                </select>
                            </div>
                        

                        <div class="col-md-6 col-xl-4 mb-4">
                          <label for="person_in_charge">Person In Charge</label>
                          <input type="text" class="form-control" id="person_in_charge" name="custom_person_in_charge" placeholder="Enter Person In Charge" >
                        </div>
                        <div class="col-md-6 col-xl-4 mb-4">
                          <label for="remarks">Remarks</label>
                          <input type="text" class="form-control" id="remarks" name="remarks" placeholder="Enter Remsrks" >
                        </div>
                        <div class="col-md-6 col-xl-4 mb-4">
                            <label for="status">Status</label>
                            <select class="custom-select form-select form-control" id="status" name="disabled">
                                <option value="0">Active</option>
                                <option value="1">Disable</option>
                            </select>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <hr>
                  <!-- contact Details -->
                  
                    <div class="form-section-title">
                            Contact Details
                    </div>

                    <div class="contact-details row">
                        <!-- address details -->
                        <div class=" col-lg-12 col-xl-4 details-area">
                            <label>Address</label>
                            <textarea name="custom_address" id="address" placeholder="132, My Street, Kingston, New York"></textarea>
                        </div>
                        <!-- phone details -->
                        <div class="col-lg-6 col-xl-4 details-area">
                            <label>Phone</label>
                            <div class="card" name="phone" id="customer_phone">
                          
                                    <div class="row w-100 d-flex justify-content-between add-contact-details" id="customer_phone_input">
                                        <input type="number" class="form-control" id="phone_no_value" placeholder="Enter Phone No">
                                        <div class="btn btn-add" id="add_phone">+ Add Phone</div>
                                    </div>
                             
                            </div>
                            
                        </div>

                        <!-- email details -->
                        <div class="col-lg-6 col-xl-4 details-area">
                            <label>Email</label>
                            <div class="card" id="customer_email" name="phone">
                                    <div class="row w-100 d-flex justify-content-between add-contact-details" id="customer_email_input">
                                        <input type="email" id="email_address_value" class="form-control" placeholder="Enter Email Address">
                                        <div class="btn btn-add" id="add_email">+ Add Email</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                  
            </div>

            <div class="tab-pane fade" id="customer-accounts" role="tabpanel" aria-labelledby="customer-accounts">
        
                <div class="table-responsive-lg">
                    <table class="table w-100" name="customer_account">
                        <thead>
                        <thead>
                            <tr>
                                <th class="check"> <input type="checkbox" class="checkall" name="checkall" /></th>
                                <th class="company-heading">Company</th>
                                <th class="account-heading">Account</th>
                            </tr>
                        </thead>
                        <tbody id="account_table">
                          <tr id="empty_table"></tr>
                            
                        </tbody>

                    </table>   
                    <div class="row float-right">
                        <div class="btn btn-delete flex-start" id="delete_row">+ Delete Row</div> 
                        <div class="btn btn-add ml-3" id="add_new_row">+ Add Row</div> 
                    </div>
                    </div>
            
            
          </div>
          <input type="hidden" id="user_id">

        </form>

</div>
{% endblock %}