
body{
    font-family: "Inter", sans-serif;
}
/* login container */
.login-container{
    position: absolute;
    /* width: 85%; */
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
/* login form */
.login-form{
    box-shadow: 0 5px 8px 0 #DFEAF2, 0 9px 26px 0 #DFEAF2;
    height: 30rem;
    border-radius: 15px;
}
.login-form-section{
    padding: 2rem;
}
.login-form-section form{
    margin-top:28px;
}
.login-sm-title{
    font-size: 20px;
    font-weight: 600;
    color: #343C6A;

}
.login-title{
    font-weight: 900;
    font-size: 30px;
    color: #343C6A;

}
.form-control{
    border: 1px solid #DFEAF2!important;
    border-radius: 8px!important;
    height: 50px!important;
}
.form-control:focus{
    box-shadow: none!important;
}
/* input[type="password"]::placeholder{
    line-height: 5;
} */
.show-hide-password{
    position: absolute;
    right: 50px;
    z-index: 99;
    margin-top: -35px;
    cursor: pointer;
    color: #4D5461;

}
.btn-login{
    background: #1814F3;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    height: 50px;
}
.btn-login:hover{
    color:#ffffff;
}
.login-form .forget-password{
    font-size: 16px;
    color: #232323;
    text-decoration: none;
}
/* login section image */
.vessel-login-image
{
    background: url('/files/vessel-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-position:center center;
    height:100%;
}

/* validation */
.validate-email{
    color: red !important;;
    font-size: 14px;
}

/* media queries */
@media screen and (max-width:900px) and (min-width:767px) {
    .login-container{
        max-width:75%;
    }
    .reset-password{
        max-width:50%;
    }
}
@media screen and (max-width:1600px) and (min-width:1200px) {
    .login-container{
        max-width:50%;
    }
    .reset-password{
        max-width:33%;
    }
}
@media screen and (max-width:767px){
    .vessel-login-image{
        display: none;
    }
    .login-container{
        width: 75%;
    }
    .login-form{
        height: 29rem;
    }
}
@media screen and (max-width:500px){
    .login-container{
        width: 85%;
    }
    .login-sm-title{
        font-size: 18px;
    }
    .login-title{
        font-size: 25px;
    }
}